body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#content {
    padding: 20px;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: #555;
}

nav button:disabled {
    background-color: #666;
    cursor: not-allowed;
}

.tooltip {
    position: absolute;
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    pointer-events: none;
    font-size: 12px;
}

.box {
    fill: steelblue;
    stroke: black;
    stroke-width: 1px;
}

.median,
.min,
.max {
    stroke: black;
    stroke-width: 2px;
}
